{% extends "base.html" %}


  <main class="content-main">
    <section class="main-bottom">
      <div class="box">
        <div class="box-header">
          <h4>Alumnos</h4>
        </div>
        <div class="box-container">
          <ul class="model-fields">
            <li><a href="">adsfa</a></li>
            <li><a href="">adfa</a></li>
            <li><a href="">asdfa</a></li>
            <li><a href="">adfa</a></li>
            <li><a href="">adfad</a></li>
          </ul>
        </div>
      </div>
      <div class="box">
        <div class="box-header">
          <h4>Carreras</h4>
        </div>
        <div class="box-container">
          <ul class="model-fields">
            <li><a href="">adsfa</a></li>
            <li><a href="">adfa</a></li>
            <li><a href="">asdfa</a></li>
            <li><a href="">adfa</a></li>
            <li><a href="">adfad</a></li>
          </ul>
        </div>
      </div>
      <div class="box">
        <div class="box-header">
          <h4>Materias</h4>
        </div>
        <div class="box-container">
          <ul class="model-fields">
            <li><a href="">adsfa</a></li>
            <li><a href="">adfa</a></li>
            <li><a href="">asdfa</a></li>
            <li><a href="">adfa</a></li>
            <li><a href="">adfad</a></li>
          </ul>
        </div>
      </div>
      <div class="box">
        <div class="box-header">
          <h4>Grupos</h4>
        </div>
        <div class="box-container">
          <ul class="model-fields">
            <li><a href="">adsfa</a></li>
            <li><a href="">adfa</a></li>
            <li><a href="">asdfa</a></li>
            <li><a href="">adfa</a></li>
            <li><a href="">adfad</a></li>
          </ul>
        </div>
      </div>
    </section>
    <section class="main-bottom">
      <div class="box">
        <div class="box-header">
          <h4>Model Title</h4>
        </div>
        <div class="box-container">
          <ul class="model-fields">
            <li><a href="">adsfa</a></li>
            <li><a href="">adfa</a></li>
            <li><a href="">asdfa</a></li>
            <li><a href="">adfa</a></li>
            <li><a href="">adfad</a></li>
          </ul>
        </div>
      </div>
      <div class="box">
        <div class="box-header">
          <h4>Model Title</h4>
        </div>
        <div class="box-container">
          <ul class="model-fields">
            <li><a href="">adsfa</a></li>
            <li><a href="">adfa</a></li>
            <li><a href="">asdfa</a></li>
            <li><a href="">adfa</a></li>
            <li><a href="">adfad</a></li>
          </ul>
        </div>
      </div>
      <div class="box">
        <div class="box-header">
          <h4>Model Title</h4>
        </div>
        <div class="box-container">
          <ul class="model-fields">
            <li><a href="">adsfa</a></li>
            <li><a href="">adfa</a></li>
            <li><a href="">asdfa</a></li>
            <li><a href="">adfa</a></li>
            <li><a href="">adfad</a></li>
          </ul>
        </div>
      </div>
      <div class="box">
        <div class="box-header">
          <h4>Model Title</h4>
        </div>
        <div class="box-container">
          <ul class="model-fields">
            <li><a href="">adsfa</a></li>
            <li><a href="">adfa</a></li>
            <li><a href="">asdfa</a></li>
            <li><a href="">adfa</a></li>
            <li><a href="">adfad</a></li>
          </ul>
        </div>
      </div>
    </section>
  </main>
