
<!DOCTYPE html>
<html lang="en">
{% load staticfiles%}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/6.0.0/normalize.css">
  <link href="https://fonts.googleapis.com/css?family=BioRhyme" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <title>Document</title>
</head>
<body>
  <header class="content-header">
    <section class="left">
      <div class="logo-space">
        <img src="img/logo.png" alt="" class="logo">
      </div>
      <div class="title-space">
        <h1 class="title"><a href="">Sistema Educativo Universitario Azteca</a></h1>
      </div>
    </section>
    <section class="rigth">
      <ul class="menu">
        <li class="tab-menu"><a href="">Alumnos</a></li>
        <li class="tab-menu"><a href="">Carreras</a></li>
        <li class="tab-menu"><a href="">Materias</a></li>
        <li class="tab-menu"><a href="">Grupos</a></li>
      </ul>
    </section>
  </header>















  <footer class="content-footer">
    <section class="footer-left">
      <h4>Derechos reservados de la <a href="#"> Universidad Azteca </a> 2k17.</h4>
    </section>
    <section class="footer-middle">
      <p>Chiapas, Reforma, Calle Oaxaca s/n</p>
    </section>
    <section class="footer-rigth">
      <ul>
        <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
        <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
        <li><i class="fa fa-youtube-play" aria-hidden="true"></i></li>
        <li><i class="fa fa-code-fork" aria-hidden="true"></i></li>
      </ul>
    </section>
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script>

  </script>
</body>
</html>
